<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>

</head>

<body>
    <h1 id="design"> Codeial/ <%= title %>
    </h1>
    <div id="home-container">
        <section id="feed-posts">
            <h4 id="post-heading">Posts</h4>
            <% if(locals.user){%>
                <form action="/posts/create" id="new-post-form" method="post">
                    <textarea name="content" rows="3" cols="20" placeholder="type here..."></textarea>
                    <input type="submit" value="Post">
                </form>
                <% } %>
                    <div id="post-container">
                        <ul>
                            <% for (post of posts){%>
                                <%-include('post'); %>
                                    <%}%>

                        </ul>
                    </div>
        </section>
        <section id="user-friends">
            <h4>Friends</h4>
            <% for(u of all_users){%>
                <p>
                    <a href="/users/profile/<%= u.id%>">
                        <%=u.name%>
                    </a>
                </p>
                <%}%>
        </section>
    </div>


    <%-include('header'); %>

        <%-include('footer'); %>
            <script>
            <% if (flash.success && flash.success.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: '<%= flash.message %>',
                        type: 'success',
                        layout: 'topRight',
                        timeout: 1500

                    }).show();
                <% }%>
                <% if (flash.error && flash.error.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: "<%= flash.message %>",
                        type: 'error',
                        layout: 'topRight',
                        timeout: 1500

                    }).show();
                <% }%>
                </script>

</body >

</html >